.container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 187, 111);
    width: 700px;
    height: 500px;
}

.box1 {
    background-color: aqua;
    width: 100px;
    height: 100px;
}

.box2 {
    background-color: rebeccapurple;
    width: 100px;
    height: 100px;
}

.box3 {
    background-color: red;
    width: 100px;
    height: 100px;
}

.box4 {
    background-color: blue;
    width: 100px;
    height: 100px;
}

.box5 {
    background-color: rgb(23, 14, 2);
    width: 100px;
    height: 100px;
}
